
    

<div class="container-fluid wrap">
 <div class="my-header">
     <h1>
       Kosmetyki z pudełka
     </h1>
     <p>Twój naturalny wybór!</p>
     <img class="img-responsive" src="app/Images/tlo2.jpg">

     <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Kosmetyki z pudełka</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Strona główna</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
    <div *ngIf="authenticated">
      <li><a routerLink="/cart" routerLinkActive="active"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Koszyk</a></li>
    </div>
    
    </ul>
  </div>
</nav>
 </div>



<router-outlet></router-outlet>
</div>