<p class="description">Przygotowaliśmy dla Ciebie pudełka z kosmetykami produkowanymi naturalnie. Dzięki krótkim opisom możesz dowiedzieć się jakiego typu produkty wchodzą w skład pudełka - ale marka każdego z produktów pozostanie dla Ciebie niespodzianką aż do otwarcia! Kupując gotowe pudełko płacisz taniej niż za pojedynczy produkt w sklepie!</p>
<h3 class="selectcategory">Wybierz kategorię:</h3>
<ul>
<div class="row">

<li class="cat col-md-3" *ngFor="let c of categories"><a class="btn btn-info" (click)="selectByCategory(c.id)">{{c.name}}</a></li>
</div>

</ul>

<ul class="category">
<div class="row">
 <li class="col-md-6 product" *ngFor="let product of products" (click)="addToCart(product)">
  <p>{{product.name}}</p>
  <p>{{product.description}}</p>
  <p>{{product.price|number:'1.2-2'}}</p>
  <div *ngIf="authenticated">
  <button class="pull-right"><i class="fa fa-cart-plus fa-2x" aria-hidden="true"></i></button>

 
  </div>
  <div *ngIf="authenticated===false">
    <p><i class="fa fa-exclamation-circle fa-2x" aria-hidden="true"></i> Dodawanie do koszyka tylko dla zalogowanych</p>
  </div>
  </li>
  </div>
  </ul>
