<h1>{{title}}</h1>


<form [formGroup]="dataForm" (ngSubmit)="makeOrder($event)">
  <div class="form-group">
 <label for="firstName">Imię</label><input id="firstName" formControlName="firstName" type="text" placeholder="Imie" class=".form-control">
  </div>
  <div class="form-group">
  <label for="lastName">Nazwisko</label><textarea id="lastName" formControlName="lastName" placeholder="Nazwisko" class=".form-control"></textarea>
  </div>
  <div class="form-group">
  <label for="email">Email</label><textarea id="email" formControlName="email" placeholder="Email" class=".form-control"></textarea>
  </div>
  <div class="form-group">
  <label for="adress">Adres</label><textarea id="adress" formControlName="adress" placeholder="Adres" class=".form-control"></textarea>
  </div>
  <div class="form-group">
  <label for="city">Miasto</label><textarea id="city" formControlName="city" placeholder="Miasto" class=".form-control"></textarea>
  </div>
  <div class="form-group">
  <label for="zipCode">Kod Pocztowy</label><textarea id="zipCode" formControlName="zipCode" placeholder="Kod pocztowy" class=".form-control"></textarea>
  </div>
  <div class="form-group">
  <label for="country">Kraj</label><textarea id="country" formControlName="country" placeholder="Kraj" class=".form-control"></textarea>
  </div>
  <div class="form-group">
  <label for="phone">Telefon</label><textarea id="phone" formControlName="phone" placeholder="Telefon" class=".form-control"></textarea>
  </div>
  <div class="form-group">
  <label for="delivery">Dostawa</label>
    <div *ngFor="let d of deliveryItems">
        <label>
        <input formControlName="delivery" type="radio" name="delivery" [value]="d.value">
        {{d.display}}
        </label>
    </div>
  </div>
  <div class="form-group">
  <label for="payment">Opcje płatności</label>
    <div *ngFor="let p of paymentItems">
        <label>
        <input formControlName="payment" type="radio" name="payment" [value]="p.value">
        {{p.display}}
        </label>
    </div>
  </div>
  <button type="submit">POTWIERDZAM DANE</button>
  <a routerLink="/sendOrder" routerLinkActive="active">Złóż zamówienie</a>
</form>


